$lightpurple : #8B7AAE;
$tan: #FFF0AA;

body {
  background-color: $lightpurple;
}

.container {
  background: $tan;
  width: 60%;
  margin-top: 3em;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 22px;
  font-style: italic;
}

.game-board {
  
  margin: 20px;
}

.card img {
  width: 100px;
  height: 145px;
  margin: 5px;
}

.clickable {
  cursor: pointer;
}

.hideme {
  visibility: hidden;
}